.singleQues{
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ques-content{
    width:70%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

.ques{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    color: #143d20;
    text-align: center;
}

.options{
    background-color: #abfcc2;
    color: #143d20;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    padding: 7px;
    margin: 7px;
    justify-content: center;
    text-align: center;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
}

button{
    background-color:#143d20;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 7px;
    margin-top: 10px;
    border-radius: 20px;
    margin-right: 10px;
}

button:hover{
    cursor: pointer;
}

.score{
    display: flex;
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
    color:#143d20;
    font-size: 15px;
    font-weight: 600;
}

@media only screen and (max-width:600px)
{
    .ques{
        font-size: 30px;
    }

    button{
        width: 100%;
    }
}

@media only screen and (min-width:600px)
{
    .ques{
        font-size: 40px;
    }
    
    button{
        width: 100px;
    }
}